.input-wrapper {
    width: 60%;
    height: 2.5rem;
    border: none;
    border-radius: 10px;
    padding: 0 15px;
    box-shadow: 0px 0px 8px #797676;
    background-color: rgb(255, 255, 255);
    display: flex;
    align-items: center;
  }

  input {
    background-color: transparent;
    height: 100%;
    font-size: 1.25rem;
    width: 100%;
    margin-left: 10px;
  }

  input:focus {
    outline: none;
  }

  #search-icon {
    color: royalblue;
  }

  .search-bar-after-search {
    top: 15px !important;
  }
  .search-bar-after-search > h1 {
    font-size: 16px !important;
  }

  .search-bar-after-search > div {
    width: 40% !important;
    height: 2rem !important;
  }
